
#header{
    background: url('../../assets/images/poke_big.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    color: blue;
    height : 20%;
    
    /* background-size:  */
}